:root {
    --color-primary: #434455;
    --color-hero-button: #fff;
    --color-hero-button-bg: #4D5AE5;
    --color-secondary: #2E2F42;
    --color-hero-hover: #404BBF;
    --color-card-bg: #F4F4FD;
    --color-filter-bg: #E7E9FC;


}


body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

 a {
    
    text-decoration-line: none;


} 


.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--color-secondary);
    text-decoration-line: none;
    font-style: normal;
    

}
.header-nav-link:hover, .header-nav-link:focus {
    color: var(--color-hero-button-bg);
}

.header-contacts {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: var(--color-secondary);
        text-decoration-line: none;
        font-style: normal;
}

.header-contacts:hover, .header-contacts:focus {
    color: var(--color-hero-button-bg);
}


ul {
    list-style-type: none;
  }


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-hero-button);
}

.hero {

    background-color: var(--color-secondary);
}



.section-title {
    
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        color: var(--color-secondary);
        letter-spacing: 0.02em;

}



.section-card-title {
color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-hero-button);
    background-color: var(--color-hero-button-bg);
    cursor: pointer;
    letter-spacing: 0.04em;
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--color-hero-hover);
}

.our-team {
    background-color: var(--color-card-bg)
    ;
}

.skills-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
}



footer {
    background-color: var(--color-secondary);
    color: var(--color-hero-button);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-card-background {
    background-color: var(--color-hero-button);
}

.our-team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.filter-button {
    background-color: var(--color-card-bg);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--color-hero-hover);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--color-filter-bg);
cursor: pointer;
}

.filter-button:hover, .filter-button:focus
 {
    background-color: var(--color-hero-hover);
    color: var(--color-hero-button);
    
}


.portfolio-card-bg {
    background-color: var(--color-hero-button);
   
}

.logo-text {
    font-family: 'Raleway', san-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.logo-color-dark {
    color: var(--color-hero-button-bg);
}

.logo-color-light {
    color: var(--color-card-bg);
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}